@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(238, 238, 238);
  text-align: center;
  color: #111;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div.high {
  position: absolute;
  font-weight: bold;
  top: 350px;
  left: 180px;
  width: 200px;
  height: 300px;
}

div.low {
  position: absolute;
  font-weight: bold;
  top: 460px;
  left: 180px;
  width: 200px;
  height: 90px;
}

div.instructions1 {
  background-color: yellow;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 100px;
  border: 4px solid #73AD21;
}

div.instructions2 {
  font-weight: bold;
  background-color: yellow;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 100px;
  border: 4px solid #73AD21;
}


.draggable-elements {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 4rem; */
  /* margin: 0rem 0.5rem; */
  cursor: move;
  transition: opacity 0.2s;
}

.draggable:hover {
  opacity: 0.5;
}
.droppable {
  margin-left:-2px !important;
  height: 4.5rem;
  width: 4.5rem;
  margin: 1rem auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: #fff;
  border: 1px dashed #111;
  transition: border-width 0s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 0.5rem;
  pointer-events: none; /* The element is never the target of pointer events */
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
}
.droppable.dropped {
  border-style: solid;
  color: #fff;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped i {
  pointer-events: none;
}
.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

.lineContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: thick;
}

.line {
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  width: 74.5px;
  Height: 8px;
  float: left;
  margin: 0;
  padding: 0;
  border-width: thick;
}

.lineRightEnd {
  border-right: 0;
}

.numberContainer {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 0;
}

.number {
  width: 22px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

.numberLeftEnd {
  width: 10px;
  Height: 5px;
  float: left;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #375e97;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid #375e97;
}

h2 {
  font-size: 1.5em;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link, a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}